html, body {
    margin: 0;
    max-height: 100vh;
    background-image: url("/img/background.png");
    font-size: 10px;
    font-family: Arial;
}

.right {
    float: right;
}

.right div {
    float: right;
}

.left {
    float: left;
}

.left div {
    float: left;
}

.center {
    text-align: center;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.1);
}

.container header {
    position: relative;
    height: 70px;
    flex: none;
}

.container .content {
    position: relative;
    flex: 1 3 auto;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    border: 1px solid #bebebe;
}

#image-container {
    display: none;
    position: relative;
    flex: 1 3 auto;
    max-width: 800px;
    width: 100%;
}

.container .content .button {
    position: relative;
    display: flex;
    background-color: rgba(0, 255, 0, 0.1);
    margin: 5px auto;
    text-align: center;
    border: 1px solid rgba(0, 255, 0, 0.1);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    width: 95%;
    height: 40%;
}

.button a.btn {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container .bar .title {
    width: 80%;
    font-size: 4rem;
}
.container .bar .links {
    width: 20%;
    font-size: 4rem;
}

.container .bar .bar-item {
}

.container header img {
    width: 100%;
}

.slider {
    position: relative;
    width: 100%;
    flex: none;
    height: 80px;
    bottom: 0;
}

.slider-item img {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

.slider-item .question {
    display: block;
    margin: -10px auto;
    padding: 4px;
    position: relative;
    top: 6px;
    width: 24px;
    height: 24px;
}

.slider-item .question img {
    width: 24px;
    height: 24px;
}

.slider .slick-prev {
    right: -10px;
    z-index: 1;
}

.slider .slick-next {
    left: -10px;
    z-index: 1;
}

.modal {
    display: none;
    position: absolute;
    top: 8%;
    right: 8%;
    left: 8%;
    bottom: 8%;
    padding: 10px;
    font-size: 1.5rem;
    text-align: justify;
    background-color: #240000;
    overflow: visible;
    color: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.modal .close {
    position: absolute;
    text-align: center;
    left: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(138, 11, 26, 0.68);
    cursor: pointer;
}

#button2 {
    /*display: none;*/
}

/** RANGE **/
.brightness {

}
input[type=range] {
    position: absolute;
    margin: 0 auto;
    bottom:0;
    -webkit-appearance: none;
    width: 100%;
    display: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #2c2c2c;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 29px;
    background: #b50b18;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2c2c2c;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #2c2c2c;
    border-radius: 0;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 29px;
    border-radius: 0;
    background: #b50b18;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2c2c2c;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #2c2c2c;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #b50b18;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #2c2c2c;
}
input[type=range]:focus::-ms-fill-upper {
    background: #2c2c2c;
}

#upload-background {
    display: none;
}