@font-face {
  font-family: 'Lato-Regular';
  src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato-Medium';
  src: url("/fonts/Lato/Lato-Medium.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("/fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url("/fonts/Lato/Lato-Hairline.ttf");
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url("/fonts/Lato/Lato-Semibold.ttf");
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "Lato-Light";
  overflow-x: hidden;
  color: #fff;
}

p, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato-Light";
}

a {
  color: #333;
  text-decoration: none;
}

h1.caption {
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
}

@media (max-width: 768px) {
  h1.caption {
    font-size: 24px;
  }
}

.wrapperforlogo {
  padding: 25px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.logo_new {
  position: relative;
  width: 327px;
  height: 100%;
  margin: 0 auto;
}

.logo_new .line {
  width: 132px;
  height: 1;
  border-bottom: 1px solid #dbdbdb;
  float: left;
}

.logo_new img.normal {
  position: relative;
  top: -22px;
  float: left;
}

.logo_new img.mini {
  display: none;
}

@media (max-width: 768px) {
  .wrapperforlogo {
    padding: 10px 25px 6px 25px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .logo_new {
    position: relative;
    width: 223px;
    height: 100%;
    margin: 0 auto;
  }
  .logo_new .line {
    width: 79px;
    height: 1;
    border-bottom: 1px solid #dbdbdb;
    float: left;
  }
  .logo_new img {
    float: left;
  }
  .logo_new img.normal {
    display: none;
  }
  .logo_new img.mini {
    position: relative;
    top: -13px;
    display: block;
  }
}

.navbar-default .navbar-nav li a:hover {
  color: #91bb44;
}

.navbar-default .navbar-nav li .lang {
  color: #333;
  padding: 15px;
}

.navbar-default .navbar-nav li .lang a:hover, .navbar-default .navbar-nav li .lang a:focus {
  text-decoration: none;
  color: #42a2e5;
}

.navbar-default .navbar-nav li .lang a:visited {
  text-decoration: none;
}

#drawer-top {
  font-family: "Lato-Light";
  position: fixed;
  width: 100%;
  height: 120px;
  margin-top: 0;
  padding: 0;
  z-index: 999;
}

.toggleshortcut {
  top: 120px;
  position: fixed;
  width: 100%;
  height: 4px;
  background-color: #42a2e5;
  z-index: 999;
}

.toggleshortcut .shortcut {
  width: 43px;
  height: 37px;
  margin-right: 15px;
  border-radius: 6px;
  background: url(/images/logo_white.png) no-repeat center center #42a2e5;
}

@media (max-width: 992px) {
  .navbar-nav li a {
    padding: 15px 5px;
  }
  .navbar .divider-vertical {
    display: none;
  }
}

@media (min-width: 992px) {
  body .container {
    width: 1000px;
  }
}

@media (max-width: 768px) {
  #drawer-top {
    height: 60px;
    top: 0;
    margin-top: 0;
    width: 100%;
    padding: 0;
  }
  .shortcut {
    display: none;
  }
  nav {
    height: 110px;
  }
}

nav .navbar-brand {
  width: 208px;
  height: 120px;
  background: url(/images/brand.png) no-repeat;
  background-position: center center;
}

@media (min-width: 768px) {
  #wrapper {
    margin-top: 120px;
  }
  nav {
    height: 120px;
  }
  .navbar-nav li a {
    line-height: 85px;
  }
  .navbar-centered .navbar-nav {
    float: none;
    text-align: center;
  }
  .navbar-centered .navbar-nav > li {
    float: none;
  }
  .navbar-centered .nav > li {
    display: inline;
  }
  .navbar-centered .nav > li > a {
    display: inline-block;
  }
  .hiddenimg {
    display: none;
  }
  .navbar .divider-vertical {
    display: inline-block;
  }
}

.navbar .divider-vertical {
  display: none;
  position: absolute;
  margin: 35px 0;
  height: 45px;
  border-left: 2px dotted #f2f2f2;
  border-right: 2px dotted #ffffff;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #fff;
  border: 0;
}

.swiper-container {
  display: block;
  width: 100%;
  height: 599px;
}

.swiper-container .swiper-slide {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .swiper-container {
    height: 303px;
  }
}

@media (max-width: 768px) {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

#swiper-blogquotes {
  width: 100%;
  height: 445px;
}

#swiper-blogquotes .swiper-button-prev {
  margin-left: 5.5%;
}

#swiper-blogquotes .swiper-button-next {
  margin-right: 5.5%;
}

#swiper-blogquotes .slide4 {
  background: url(/images/slides/slide4.png) no-repeat center center #42a2e5;
}

#swiper-blogquotes .slide5 {
  background: url(/images/slides/slide5.png) no-repeat center center #42a2e5;
}

.quotes {
  margin: 70px 0;
  position: absolute;
  z-index: 99;
  color: #222222;
  background-color: rgba(255, 255, 255, 0.86);
  width: 1000px;
  height: 315px;
  -webkit-box-shadow: -3px -3px 15px 3px rgba(11, 40, 58, 0.28);
  box-shadow: -3px -3px 15px 3px rgba(11, 40, 58, 0.28);
}

.quotes h1 {
  text-transform: uppercase;
  padding: 50px 60px 0 30px;
  color: #222222;
}

.quotes p {
  padding: 0 60px 0 30px;
  font-size: 18px;
  font-family: "Lato-Regular";
  color: #4a4a4a;
}

.quotes p.quote {
  color: #969696;
  padding: 17px 44px;
  font-family: 'Arial';
  font-weight: 900;
  font-size: 100.5px;
}

.swiper-pagination-bullet {
  width: 21px;
  height: 21px;
  border-radius: 2;
  -moz-box-shadow: 0px 0px 0px 3px white;
  box-shadow: 0px 0px 0px 3px white;
  display: inline-block;
  background: #fff;
  opacity: .66;
}

.swiper-pagination-bullet-active {
  width: 21px;
  height: 21px;
  -moz-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.texttoswiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.block-heading {
  padding-top: 15px;
}

.block-heading h4 {
  font-size: 20px;
}

.block-heading p {
  text-transform: uppercase;
  text-align: center;
  color: #222222;
  font-size: 20px;
  font-family: "Lato-Regular";
}

.welcome p {
  color: #5e5e5e;
  font-family: "Lato-Medium";
  font-size: 13.5px;
  padding: 0 15px;
}

.welcome .captiontext {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato-Regular";
  color: #222;
}

#services {
  margin-top: 75px;
}

#services p.caption {
  font-size: 26px;
  text-transform: uppercase;
  color: #5e5e5e;
}

#services p.description {
  color: #5e5e5e;
  font-size: 13.5px;
  font-family: "Lato-Regular";
  padding-bottom: 60px;
}

#services div {
  text-align: center;
}

@media (max-width: 768px) {
  .welcome .captiontext {
    display: none;
  }
  #services {
    margin-top: 0;
  }
  #services p.caption {
    font-size: 14px;
  }
  #services p.description {
    display: none;
  }
}

.circle {
  position: relative;
  width: 100%;
  max-width: 140px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  border: 4px solid #42a2e5;
}

.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle:hover {
  border-color: #91bb44;
}

.circle .circlechild {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  width: 92%;
  height: 92%;
  display: inline-block;
  background-color: #42a2e5;
}

.circle .circlechild:hover {
  background-color: #91bb44;
}

.circle .circlechild .i {
  font-size: 4em;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle.lite {
  border: 4px solid #7ecefd;
}

.circle.lite:hover {
  border-color: #b1de60;
}

.circle.lite .circlechild {
  background-color: #7ecefd;
}

.circle.lite .circlechild:hover {
  background-color: #b1de60;
}

@media (max-width: 768px) {
  .circle .circlechild .i {
    font-size: 3em;
  }
}

.even, .uneven {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  margin-bottom: 21px;
  color: #4a4a4a;
}

.even .news, .uneven .news {
  padding: 25px;
  overflow: hidden;
}

.even .news p, .uneven .news p {
  font-family: "Lato-Regular";
}

.even .news p.caption, .uneven .news p.caption {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 20px;
}

.even p.date, .uneven p.date {
  color: #91bb44;
}

.even p.newstext, .uneven p.newstext {
  font-size: 14px;
}

.uneven img {
  float: left;
}

.even img {
  float: right;
}

.btn-more {
  border-radius: 0;
  border: 0;
  padding: 4px 15px;
  background-color: #42a2e9;
  font-size: 14px;
  font-family: "Lato-Regular";
}

.wrapperforviewall {
  width: 286px;
  margin-top: 44px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 6px solid #e0e7ec;
}

.btn-viewall {
  line-height: 40px;
  height: 58px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0px solid transparent;
  text-transform: uppercase;
  font-size: 28px;
  -webkit-text-shadow: 1px 1px 1px black;
  -moz-text-shadow: 1px 1px 1px black;
  -ms-text-shadow: 1px 1px 1px black;
  -o-text-shadow: 1px 1px 1px black;
  text-shadow: 1px 1px 1px black;
  font-family: "Lato-Semibold";
  background: #42a2e9;
  background: -moz-linear-gradient(top, #42a2e9 0%, #00518d 100%);
  background: -webkit-linear-gradient(top, #42a2e9 0%, #00518d 100%);
  background: linear-gradient(to bottom, #42a2e9 0%, #00518d 100%);
}

.btn-viewall:hover {
  background: #91bb44;
  background: -moz-linear-gradient(top, #91bb44 0%, #658d1b 100%);
  background: -webkit-linear-gradient(top, #91bb44 0%, #658d1b 100%);
  background: linear-gradient(to bottom, #91bb44 0%, #658d1b 100%);
}

@media (max-width: 768px) {
  .even img, .uneven img {
    float: none;
  }
}

.scrolltoup {
  display: none;
  right: 25px;
  bottom: 200px;
  cursor: pointer;
  background-color: #f8f8f8;
  position: fixed;
  text-align: center;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  z-index: 9999;
}

.scrolltoup .i {
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: #bab9b9;
}

#gallery {
  padding: 50px 0;
}

#gallery section {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 10%, #f0f0f0 100%);
  background: -webkit-linear-gradient(top, #ffffff 10%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #ffffff 10%, #f0f0f0 100%);
}

#gallery section p {
  text-transform: uppercase;
  text-align: center;
  color: #4a4a4a;
}

#gallery section ul.links {
  margin: 0 auto;
  text-transform: uppercase;
  color: #4a4a4a;
}

#gallery section ul.links li.galleryicons {
  font-size: 20px;
  display: inline-block;
  padding: 25px 0;
  color: #989898;
}

#gallery section ul.links li.galleryicons span.separator {
  font-size: 20px;
  color: #989898;
}

@media (max-width: 768px) {
  #gallery section ul.links li.galleryicons {
    display: block;
  }
  #gallery section ul.links li.galleryicons .separator {
    display: none;
  }
}

#gallery section ul.links li.galleryicons a {
  font-size: 20px;
  font-family: "Lato-Regular";
  color: #989898;
}

#gallery section ul.links li.galleryicons a:focus, #gallery section ul.links li.galleryicons a:active {
  text-decoration: none;
}

#gallery section ul.links li.galleryicons a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #42a2e5;
}

.galleryicons.iconforwebdesign:hover ~ .galleryicon {
  background: url(/images/iconforwebdesign.png) no-repeat center bottom #fff;
  display: block;
  height: 100px;
}

.galleryicons.iconformakeup:hover ~ .galleryicon {
  background: url(/images/iconformakeup.png) no-repeat center bottom #fff;
  display: block;
  height: 98px;
}

.galleryicons.iconforprogramming:hover ~ .galleryicon {
  background: url(/images/iconforprogramming.png) no-repeat center bottom #fff;
  height: 145px;
  display: block;
}

.galleryicons.iconforseo:hover ~ .galleryicon {
  background: url(/images/iconforseo.png) no-repeat center bottom #fff;
  height: 98px;
  display: block;
}

.galleryicon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 165px;
  height: 170px;
  display: none;
  z-index: -3;
}

.drop-shadow {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.1);
}

.drop-shadow:before, .drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}

.curved:before {
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px / 100px;
  border-radius: 10px / 100px;
}

.curved-hz-1:before {
  top: 50%;
  bottom: 0;
  left: 40%;
  right: 40%;
  -moz-border-radius: 100px / 30px;
  border-radius: 100px / 30px;
}

.grid {
  color: #000;
  margin-top: 100px;
  height: 900px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  margin: 17px;
  position: relative;
  float: left;
  width: 213px;
  height: 213px;
}

.element-item a.zoom {
  position: absolute;
  width: 213px;
  height: 213px;
  background-position: top;
  background-color: transparent;
  left: 0;
  top: 0;
}

.element-item a.zoom:hover {
  background-color: rgba(0, 0, 0, 0.66);
}

.element-item a.zoom:hover .i {
  display: block;
}

.element-item a.zoom .i {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.66);
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.element-item a.zoom .i i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-bottom-shadow {
  box-shadow: inset 0 45px 45px -45px rgba(0, 0, 0, 0.5), inset 0 -45px 45px -45px rgba(0, 0, 0, 0.5);
}

#contacts {
  padding: 20px 0;
  background: url(/images/contacts_background.png);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#contacts .leftcolumn img.brand2 {
  margin-bottom: 64px;
}

#contacts .leftcolumn p {
  color: #d8dfe8;
  font-size: 24px;
  font-family: "Lato-Regular";
}

#contacts .leftcolumn p b {
  color: #fefefe;
  font-family: "Lato-Semibold";
}

#contact_form input, #contact_form textarea {
  font-size: 16px;
  font-family: "Lato-Regular";
  border: 0;
  -webkit-opacity: .5;
  -moz-opacity: .5;
  -ms-opacity: .5;
  -o-opacity: .5;
  opacity: .5;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3), inset 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3), inset 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

#contact_form input::-webkit-input-placeholder, #contact_form textarea::-webkit-input-placeholder {
  color: #000;
  font-family: "Lato-Regular";
}

#contact_form input::-moz-placeholder, #contact_form textarea::-moz-placeholder {
  color: #000;
  font-family: "Lato-Regular";
}

#contact_form input:-moz-placeholder, #contact_form textarea:-moz-placeholder {
  color: #000;
  font-family: "Lato-Regular";
}

#contact_form input::-ms-input-placeholder, #contact_form textarea::-ms-input-placeholder {
  color: #000;
  font-family: "Lato-Regular";
}

#contact_form input:-ms-input-placeholder, #contact_form textarea:-ms-input-placeholder {
  color: #000;
  font-family: "Lato-Regular";
}

#contact_form input {
  height: 49px;
  color: #000;
}

#contact_form .wrapper:before {
  opacity: .5;
  padding: 3px;
  font-size: 2em;
  font-family: 'FontAwesome';
  position: absolute;
  right: 5%;
}

#contact_form #name.wrapper:before {
  content: "\f007";
}

#contact_form #tel.wrapper:before {
  content: "\f095";
}

#contact_form #email.wrapper:before {
  content: "\f0e0";
}

#contact_form #skype.wrapper:before {
  content: "\f17e";
}

#contact_form #message.wrapper:before {
  content: "\f040";
}

#contact_form textarea {
  height: 98px;
}

#contact_submit_button.wrapperforsubmit {
  position: relative;
  width: 274px;
  margin: 21px auto 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 6px solid rgba(0, 0, 0, 0.1);
}

#contact_submit_button.wrapperforsubmit .btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  height: 58px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0px solid transparent;
  text-transform: uppercase;
  font-size: 28px;
  -webkit-text-shadow: 1px 1px 1px black;
  -moz-text-shadow: 1px 1px 1px black;
  -ms-text-shadow: 1px 1px 1px black;
  -o-text-shadow: 1px 1px 1px black;
  text-shadow: 1px 1px 1px black;
  font-family: "Lato-Semibold";
  background: #6ed258;
  background: -moz-linear-gradient(top, #6ed258 0%, #34ae22 100%);
  background: -webkit-linear-gradient(top, #6ed258 0%, #34ae22 100%);
  background: linear-gradient(to bottom, #6ed258 0%, #34ae22 100%);
}

#contact_submit_button.wrapperforsubmit .btn-submit:hover {
  background: #42a2e9;
  background: -moz-linear-gradient(top, #42a2e9 0%, #00518d 100%);
  background: -webkit-linear-gradient(top, #42a2e9 0%, #00518d 100%);
  background: linear-gradient(to bottom, #42a2e9 0%, #00518d 100%);
}

#map {
  width: 100%;
  height: 670px;
}

footer {
  font-family: "Lato-Light";
  color: #e4e4e4;
  font-size: 18px;
  background: #585f68;
  height: 200px;
  padding: 65px 0;
}

footer div .copyright.left {
  margin: 0 5px -6px 10px;
  position: absolute;
  bottom: 0;
}

footer div .copyright.right {
  display: none;
}

footer .socki {
  width: 100%;
}

footer .socki a {
  position: relative;
  text-decoration: none;
}

footer .socki a:hover img.socki_hover + img.socki_idle {
  opacity: 0;
}

footer .socki a img {
  padding: 10px 10px;
}

footer .socki a img.socki_idle {
  position: relative;
}

footer .socki a img.socki_hover {
  left: 0;
  position: absolute;
}

footer .footer_nav {
  padding: 0;
}

footer .footer_nav ul.links {
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  -webkit-padding-start: 0px;
}

footer .footer_nav ul.links li {
  padding: 0 20px;
  display: inline;
}

footer .footer_nav ul.links li:first-child {
  padding-left: 0;
}

footer .footer_nav ul.links li:last-child {
  padding-right: 0;
}

@media (max-width: 992px) {
  footer {
    height: 145px;
    padding: 30px 0;
  }
  footer .wrapperforcopyright {
    position: absolute;
  }
  footer div .copyright.left {
    display: none;
  }
  footer div .copyright.right {
    display: block;
    padding: 0 15px;
  }
  footer .socki {
    top: 0;
    position: absolute;
    text-align: right;
  }
  footer .footer_nav {
    display: none;
  }
}
