@font-face {
  font-family: 'Lato-Regular';
  src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato-Medium';
  src: url("/fonts/Lato/Lato-Medium.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("/fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url("/fonts/Lato/Lato-Hairline.ttf");
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url("/fonts/Lato/Lato-Semibold.ttf");
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "Lato-Light", "Open Sans";
  overflow-x: hidden;
  color: #fff;
  height: 5000px;
}

p, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato-Light", "Open Sans";
}

h1, .h1 {
  font-size: 56px;
}

a {
  color: #333;
  text-decoration: none;
}

.navbar-default .navbar-nav li a:hover {
  color: #91bb44;
}

.navbar-default .navbar-nav li .lang {
  color: #333;
  padding: 15px;
}

.navbar-default .navbar-nav li .lang a:hover, .navbar-default .navbar-nav li .lang a:focus {
  text-decoration: none;
  color: #42a2e5;
}

.navbar-default .navbar-nav li .lang a:visited {
  text-decoration: none;
}

#drawer-top {
  font-family: "Lato-Light", "Open Sans";
  position: fixed;
  width: 100%;
  height: 120px;
  margin-top: 0;
  padding: 0;
  z-index: 999;
}

.toggleshortcut {
  top: 120;
  position: fixed;
  width: 100%;
  height: 4px;
  background-color: #42a2e5;
  z-index: 999;
}

.toggleshortcut .shortcut {
  width: 43px;
  height: 37px;
  margin-right: 15px;
  border-radius: 6px;
  background: url(/images/logo_white.png) no-repeat center center #42a2e5;
}

@media (max-width: 992px) {
  .navbar-brand {
    width: 64px;
    height: 64px;
    background: url(/images/logo.png) no-repeat;
    background-position: center center;
  }
  .navbar-nav li a {
    padding: 15px 5px;
  }
  .navbar .divider-vertical {
    display: none;
  }
}

@media (min-width: 992px) {
  body .container {
    width: 1000px;
  }
}

@media (max-width: 768px) {
  #drawer-top {
    height: 60px;
    top: 0;
    margin-top: 0;
    width: 100%;
    padding: 0;
  }
  .shortcut {
    display: none;
  }
}

@media (min-width: 768px) {
  #wrapper {
    margin-top: 120px;
  }
  nav {
    height: 120px;
  }
  .navbar-brand {
    width: 208px;
    height: 120px;
    background: url(/images/brand.png) no-repeat;
    background-position: center center;
  }
  .navbar-nav li a {
    line-height: 85px;
  }
  .navbar-centered .navbar-nav {
    float: none;
    text-align: center;
  }
  .navbar-centered .navbar-nav > li {
    float: none;
  }
  .navbar-centered .nav > li {
    display: inline;
  }
  .navbar-centered .nav > li > a {
    display: inline-block;
  }
  .hiddenimg {
    display: none;
  }
  .navbar .divider-vertical {
    display: inline-block;
  }
}

.navbar .divider-vertical {
  display: none;
  position: absolute;
  margin: 35px 0;
  height: 45px;
  border-left: 2px dotted #f2f2f2;
  border-right: 2px dotted #ffffff;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #fff;
  border: 0;
}

#top {
  height: 595px;
}

#swiper-header {
  width: 100%;
  height: 595px;
}

#swiper-header .swiper-button-prev {
  margin-left: 5.5%;
}

#swiper-header .swiper-button-next {
  margin-right: 5.5%;
}

#swiper-header .swiper-wrapper .slide1 {
  background: url(/images/slides/slide1.png) no-repeat center center #42a2e5;
}

#swiper-header .swiper-wrapper .slide2 {
  background: url(/images/slides/slide2.png) no-repeat center center #42a2e5;
}

#swiper-header .swiper-wrapper .slide3 {
  background: url(/images/slides/slide3.png) no-repeat center center #42a2e5;
}

#swiper-blogquotes {
  width: 100%;
  height: 445px;
}

#swiper-blogquotes .swiper-button-prev {
  margin-left: 5.5%;
}

#swiper-blogquotes .swiper-button-next {
  margin-right: 5.5%;
}

#swiper-blogquotes .slide4 {
  background: url(/images/slides/slide4.png) no-repeat center center #42a2e5;
}

#swiper-blogquotes .slide5 {
  background: url(/images/slides/slide5.png) no-repeat center center #42a2e5;
}

.quotes {
  margin: 70px 0;
  position: absolute;
  z-index: 99;
  color: #222222;
  background-color: rgba(255, 255, 255, 0.86);
  width: 1000px;
  height: 315px;
  -webkit-box-shadow: -3px -3px 15px 3px rgba(11, 40, 58, 0.28);
  box-shadow: -3px -3px 15px 3px rgba(11, 40, 58, 0.28);
}

.quotes h1 {
  text-transform: uppercase;
  padding: 50px 60px 0 30px;
  color: #222222;
}

.quotes p {
  padding: 0 60px 0 30px;
  font-size: 18px;
  font-family: "Lato-Regular";
  color: #4a4a4a;
}

.quotes p.quote {
  color: #969696;
  padding: 17px 44px;
  font-family: 'Arial';
  font-weight: 900;
  font-size: 100.5px;
}

.swiper-pagination-bullet {
  width: 21px;
  height: 21px;
  border-radius: 2;
  -moz-box-shadow: 0px 0px 0px 3px white;
  box-shadow: 0px 0px 0px 3px white;
  display: inline-block;
  background: #fff;
  opacity: .66;
}

.swiper-pagination-bullet-active {
  width: 21px;
  height: 21px;
  -moz-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.texttoswiper {
  padding: 78px 0 0 0;
  position: absolute;
  z-index: 99;
}

.texttoswiper p {
  padding: 71px 0 0 0;
}

.block-heading {
  padding-top: 15px;
}

.block-heading h4 {
  font-size: 20px;
}

.block-heading .logo {
  margin: 30px auto;
  width: 63px;
  height: 44px;
  background: url(/images/logo_blackandwhite.png) no-repeat center center #fff;
}

.block-heading .line {
  position: relative;
  padding-top: 3px;
  left: -115px;
  width: 300px;
  z-index: -99;
}

.block-heading .line hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.block-heading p.h1 {
  font-size: 60px;
  padding-bottom: 15px;
  font-family: "Lato-Light", "Open Sans";
}

.block-heading p {
  text-transform: uppercase;
  text-align: center;
  color: #222222;
  font-size: 20px;
  font-family: "Lato-Regular";
}

.welcome p {
  color: #5e5e5e;
  font-family: "Lato-Medium";
  font-size: 13.5px;
}

#services {
  margin-top: 75px;
}

#services header h3 {
  font-size: 26px;
  text-transform: uppercase;
  color: #5e5e5e;
}

#services section p {
  color: #5e5e5e;
  font-size: 13.5px;
  font-family: "Lato-Regular";
  padding-bottom: 60px;
}

#services div {
  text-align: center;
}

section .circle {
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  width: 140px;
  height: 140px;
  border: 5px solid #42a2e5;
}

section .circle:hover {
  border-color: #91bb44;
}

section .circle .circlechild {
  border-radius: 100px;
  margin: 5px 0 0 0;
  width: 120px;
  height: 120px;
  display: inline-block;
  background-color: #42a2e5;
}

section .circle .circlechild:hover {
  background-color: #91bb44;
}

section .circle .circlechild .i {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle.lite {
  border: 5px solid #7ecefd;
}

.circle.lite:hover {
  border-color: #b1de60;
}

.circle.lite .circlechild {
  background-color: #7ecefd;
}

.circle.lite .circlechild:hover {
  background-color: #b1de60;
}

.even, .uneven {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  margin-bottom: 21px;
  color: #4a4a4a;
}

.even .news, .uneven .news {
  padding: 25px;
  overflow: hidden;
}

.even .news p, .uneven .news p {
  font-family: "Lato-Regular";
}

.even .news p.caption, .uneven .news p.caption {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 20px;
}

.even p.date, .uneven p.date {
  color: #91bb44;
}

.even p.newstext, .uneven p.newstext {
  font-size: 14px;
}

.uneven img {
  float: left;
}

.even img {
  float: right;
}

.btn-more {
  border-radius: 0;
  border: 0;
  padding: 4px 15px;
  background-color: #42a2e9;
  font-size: 14px;
  font-family: "Lato-Regular";
}

.wrapperforviewall {
  width: 286px;
  margin-top: 44px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 6px solid #e0e7ec;
}

.btn-viewall {
  line-height: 40px;
  height: 58px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0px solid transparent;
  text-transform: uppercase;
  font-size: 28px;
  -webkit-text-shadow: 1px 1px 1px black;
  -moz-text-shadow: 1px 1px 1px black;
  -ms-text-shadow: 1px 1px 1px black;
  -o-text-shadow: 1px 1px 1px black;
  text-shadow: 1px 1px 1px black;
  font-family: "Lato-Semibold";
  background: #42a2e9;
  background: -moz-linear-gradient(top, #42a2e9 0%, #00518d 100%);
  background: -webkit-linear-gradient(top, #42a2e9 0%, #00518d 100%);
  background: linear-gradient(to bottom, #42a2e9 0%, #00518d 100%);
}

.btn-viewall:hover {
  background: #91bb44;
  background: -moz-linear-gradient(top, #91bb44 0%, #658d1b 100%);
  background: -webkit-linear-gradient(top, #91bb44 0%, #658d1b 100%);
  background: linear-gradient(to bottom, #91bb44 0%, #658d1b 100%);
}

@media (max-width: 768px) {
  .even img, .uneven img {
    float: none;
  }
}

.scrolltoup {
  display: none;
  right: 25px;
  bottom: 200px;
  cursor: pointer;
  background-color: #f8f8f8;
  position: fixed;
  text-align: center;
  border: 1px solid #bab9b9;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39);
  width: 82px;
  height: 82px;
  z-index: 9999;
}

.scrolltoup:hover {
  background-color: #f8f8f8;
  -webkit-box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.39);
  box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.39);
}

.scrolltoup:active {
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39);
}

.scrolltoup .i {
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: #bab9b9;
}

#gallery {
  margin-top: 50px;
}

#gallery section {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 10%, #f0f0f0 100%);
  background: -webkit-linear-gradient(top, #ffffff 10%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #ffffff 10%, #f0f0f0 100%);
}

#gallery section p {
  text-transform: uppercase;
  text-align: center;
  color: #4a4a4a;
}

#gallery section ul.links {
  margin: 0 auto;
  text-transform: uppercase;
  color: #4a4a4a;
}

#gallery section ul.links li.galleryicons {
  font-size: 20px;
  display: inline-block;
  padding: 25px 0;
  color: #989898;
}

#gallery section ul.links li.galleryicons span.separator {
  font-size: 20px;
  color: #989898;
}

@media (max-width: 768px) {
  #gallery section ul.links li.galleryicons {
    display: block;
  }
  #gallery section ul.links li.galleryicons .separator {
    display: none;
  }
}

#gallery section ul.links li.galleryicons a {
  font-size: 20px;
  font-family: "Lato-Regular";
  color: #989898;
}

#gallery section ul.links li.galleryicons a:focus, #gallery section ul.links li.galleryicons a:active {
  text-decoration: none;
}

#gallery section ul.links li.galleryicons a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #42a2e5;
}

.galleryicons.iconforwebdesign:hover ~ .galleryicon {
  background: url(/images/iconforwebdesign.png) no-repeat center bottom #fff;
  display: block;
  height: 100px;
}

.galleryicons.iconformakeup:hover ~ .galleryicon {
  background: url(/images/iconformakeup.png) no-repeat center bottom #fff;
  display: block;
  height: 98px;
}

.galleryicons.iconforprogramming:hover ~ .galleryicon {
  background: url(/images/iconforprogramming.png) no-repeat center bottom #fff;
  height: 145px;
  display: block;
}

.galleryicons.iconforseo:hover ~ .galleryicon {
  background: url(/images/iconforseo.png) no-repeat center bottom #fff;
  height: 98px;
  display: block;
}

.galleryicon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 165px;
  height: 170px;
  display: none;
  z-index: -3;
}

.drop-shadow {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.1);
}

.drop-shadow:before, .drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}

.curved:before {
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px / 100px;
  border-radius: 10px / 100px;
}

.curved-hz-1:before {
  top: 50%;
  bottom: 0;
  left: 40%;
  right: 40%;
  -moz-border-radius: 100px / 30px;
  border-radius: 100px / 30px;
}

.grid {
  color: #000;
  margin-top: 100px;
  height: 900px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  margin: 17px;
  position: relative;
  float: left;
  width: 213px;
  height: 213px;
}

.element-item a.zoom {
  position: absolute;
  width: 213px;
  height: 213px;
  background-position: top;
  background-color: transparent;
  left: 0;
  top: 0;
}

.element-item a.zoom:hover {
  background-color: rgba(0, 0, 0, 0.66);
}

.element-item a.zoom:hover .i {
  display: block;
}

.element-item a.zoom .i {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.66);
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.element-item a.zoom .i i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
